/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'),
         url('/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  
/* body */
body {
    background-image: url("header2.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    font-family: 'Roboto' , Verdana, 'Geneva' , Tahoma, sans-serif;
    padding: 5% 0 0 0;
    margin: 0;


/* general style */
}
div { 
    margin: 0 3% 0 0;
}

h2 {
    font-size: 110%;
}

 br {
    line-height: 20%;
}
/* Big Container */
.flex-container {

    display: flex;
    flex-direction: column;  
    margin: auto;
}
 /* Flex Container "A"*/
.flex-col-1 { 
    display: flex;
    gap: 5%;
    margin: 1% 0% 0% 0%;
}

.flex-col-1  h2 {
    color: #263547;   
    padding-left: 2%;
}

.flex-col-1 div {
   height: fit-content;
   padding-left: 2%;
}



/* Flex Columns "A" 1 & 2*/
.a-sub-1 {
    padding-top: 2%;
    border-radius: 8px;
    flex: 1 1 0%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0% 3% 0% 3%
}

.a-sub-2 {
    flex: 2.3 1 0%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Special headers */
.flex-col-1 .a-sub-2-h2-special {
     color: black;
     padding-left: 2%;
     font-size: 100%;
 }

 .flex-col-1 .a-sub-2-h3-special {
    color: black;
    padding-left: 2%;
    font-size: 90%;
}

/* Name Container */
.name-role-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    margin-left: 3%;

}
.name {
    color: black; 
    font-size: 300%;
    padding-top: 3%;
    margin-bottom: 0%;
    white-space: nowrap;
    flex: 2.3 1 0%;
    padding-left: 7%;

}

/* Title Container */
.role-container {
    flex-direction: row;
    align-items: left;
    justify-content: center;
    margin-left: 3%;

}
.title {
    color: #263547; 
    font-size: 50%;
    font-style: italic;
    padding-bottom: 0%;
    white-space: nowrap;
}
/* Profile Picture */
.profile-pic { 
    border: 3px solid #000;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.empty-container{
    flex: 1 1 0;
    border-radius: 8px;
}

.list-style {
    padding-bottom: 5%;
}

.a-sub-2-work-container {
    flex: 1;
}

/* Tools Cards */
.a-sub-2-tools-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
}

.tools-container-1 ,.tools-container-2, .tools-container-3, .tools-container-4  { 
    flex: 1;    
    align-content: center;
    border: solid 1px #fff;
    border-radius: 10px 10px 50px 50px; 
    box-shadow: 20 21px 32px rgba(0, 0, 0, 0.25);
    padding: 2%;    
    color: #FFFFFF;
}

.tools-container-1 {   
    background: linear-gradient(90deg, #263547 70%, #000 100%);
    margin: 2% 10% 2% 0%;

}

.tools-container-2 { 
    background: linear-gradient(90deg, #263547 20%, #000 50%);
    margin: 2% 0% 2% 10%;
}

.tools-container-3 { 
    background: linear-gradient(90deg, #263547 70%, #000 100%);
    margin: 2% 10% 2% 0%;
}

.tools-container-4 { 
    background: linear-gradient(90deg, #263547 20%, #000 50%);
    margin: 2% 0% 2% 10%;  
}

.tools-container-content {
    padding-left: 5% !important;
    font-size: large !important;    
    
}
.tools-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.tools-text {
    flex: 1;

}
.tools-effect-1, .tools-effect-2 {
    flex: 10;    
    border: solid 2px #FFFFFF;
    border-radius: 50px 50px 50px 50px; 
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    margin: 1.2% 2% 2% 2%;
    color: #FFFFFF;
    margin-bottom: 2%;
    padding: 0.5%;
}

.tools-effect-1 {
    background: linear-gradient(90deg, #263547 70%, #fff 100%);
}
.tools-effect-2 {
    background: linear-gradient(90deg, #263547 70%, #fff 100%);
}

/* Flex Columns "B" 1 & 2 ---- Not used today */
.flex-col-2 { 
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    overflow: hidden;
    margin: 0%;
    gap: 5%;
}

.flex-col-2 div {

   flex: 1;
}


.flex-col-2  h2 {
    color: #263547;   
    margin-left:9%;

}
 
.b-sub-1 {
    flex: 1 1 0%;
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
    padding-right: 1%;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.b-sub-2 { 
    flex: 2.3 1 0% !important;
    display: flex;
    margin-right: 3%;
    margin-top: 3%;
    padding-left: 0%;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.panel {
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}
.panel h3 {
    font-size: 20px;
    position: absolute;
    color: black;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    
}
.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.skillset {  
    display: none;  
}      
.skillset.active {  
    display: block;  
}  

@media only screen and (max-width: 768px) {

    .flex-col-1 { 
        gap: 0%;
        flex-direction: column-reverse;
    }
    
    .flex-col-1 div {
       padding-left: 2%;
    }
    
    .a-sub-2 {
        flex: 1;
        margin-left: 3%;
        margin-top:  3%;
        
    }
    
    .a-sub-1 {
        flex: 1;
        margin-left: 3%;
        margin-top:  3%;
    }
    .b-sub-2 {
        flex: 1;
        margin-left: 3%;
        margin-top:  3%;
        
    }
    
    .b-sub-1 {
        flex: 1;
        margin-left: 3%;
        margin-top:  3%;
    }
    
    .flex-col-2 { 
        gap: 0%;
        flex-direction: column-reverse;
    }
    
    
    .flex-container .name-role-container{
        flex-direction: column;
    }
    
    .flex-container .role-container {
        flex-direction: column;  
    }
    
    .flex-container .name-role-container .name {
        padding-top: 7%;
        white-space: normal;
    }

    .flex-container .role-container .title{
        white-space: normal;  
    }
    .profile-pic { 
        display: none;
    }
    .empty-container { 
        display: none;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}